name: Gradle CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Start SUT
        run: |
          java -jar ./artifacts/app-mbank.jar &
          echo $! > sut.pid
          sleep 5

      - name: Run tests
        run: ./gradlew test --info

      - name: Stop SUT
        if: always()
        run: |
          kill $(cat sut.pid) || true
